<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./home.scss" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="login">
    		<div class="password-network">
      			<span class="password-network-txt-container">
        				<p class="password">Password</p>
        				<p class="password">Network</p>
      			</span>
    		</div>
    		<div class="rectangle-parent">
      			<div class="group-child">
      			</div>
      			<div class="group-item">
      			</div>
      			<div class="group-inner">
      			</div>
      			<div class="rectangle-div">
      			</div>
      			<div class="login-group-child">
      			</div>
    		</div>

    		<div class="rectangle-group">
                <div class="group-child2"></div>
                <label for="email" class="email">Email</label>
                <input type="email" id="email" name="email" class="digite-seu-email" placeholder="Digite seu email" />
            </div>

    		<div class="rectangle-container">
      			<div class="group-child2">
      			</div>
      			<div class="senha">Senha</div>
      			<div class="digite-sua-senha">Digite sua senha</div>
                <input type="password" id="senha" name="senha" class="digite-sua-senha" placeholder="Digite sua senha" />
    		</div>
         
            <div class="group-div">
                <button type="submit" class="group-child4">
                    Clique para logar
                </button>
            </div>
            
            <div class="login-rectangle-parent">
                <button type="button" class="group-child5 btn-registrar">
                    Registrar-se
                </button>
            </div>
            
    		<div class="line-parent">
      			<div class="line-div">
      			</div>
      			<div class="group-child6">
      			</div>
      			<div class="or">OR</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>