<!-- Header -->
<header class="header">
  <div class="logo">
    <h1>Password Network</h1>
  </div>
  <div class="logout">
    <a href="">
        <button (click)="logout()" class="btn-logout">Logout</button>
    </a>
  </div>
</header>

<!-- Conteúdo principal -->
<main class="main-content">
  <!-- Título -->
  <p class="titulo">Suas senhas</p>

  <!-- Tabela de senhas -->
  <section *ngIf="!loading" class="tabela-container">
  <table class="tabela-senhas">
    <thead>
      <tr>
        <th>Nome da Plataforma</th>
        <th>Senha fortalecida</th>
        <th>Copiar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userPasswords">
        <td>{{ item.platform }}</td>
        <td>{{ item.strongPassword }}</td>
        <td>
          <img src="assets/images/copiar.png" alt="Copiar" class="icon" (click)="copyPassword(item.strongPassword)" />
        </td>
      </tr>
    </tbody>
  </table>
</section>

<p *ngIf="loading">Carregando senhas...</p>

  <!-- Botão registrar nova senha -->
  <div class="registrar-container">
    <a href="registro-senha">
        <button class="btn-registrar">Registrar nova senha</button>
    </a>
  </div>
</main>